.body {
    background-color: #f1f0f0;
    height: 1100px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 20px;
    margin-left: 15px;
}


.main-card {
    display: flex;
    justify-content: space-around;
}

.temperature{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 15px;
}

.temperature-rooms {
    background-color: white;
    padding: 16px;
    width: 100%;
    margin-right: 15px;
    margin-right: 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 1em rgb(190, 190, 190);
}

.image-thermometer {
    width: 18px;
    height: 18px;
    margin-left: 95px;
}

.sensor {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.1rem;
    padding: 16px;
}

.geral-sensor{
    background-color: white;
    padding: 16px;
    width: 22%;
    margin-right: 15px;
    margin-top: 15px;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 1em rgb(190, 190, 190);
}

.consumption {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 16px;
    margin: 40px 5px 30px 5px;

}

.consumption-total{
    background-color: white;
    padding: 16px;
    width: 30%;
    margin-right: 15px;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 1em rgb(190, 190, 190);
    height: 185px;
}

.section-devices {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.devices-consumption {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.devices{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1em rgb(190, 190, 190);
    border-radius: 10px;
    width: 100%;
    margin-right: 15px;
    margin-right: 15px;
}

.bgDevices {
    width: 100%;
    height: 60px;
    margin-bottom: 8px;
    padding: 16px;  
    border-radius: 8px 8px 0 0;
}

.bgDevices.red{
    background-color: red;
}

.bgDevices.green{
    background-color: green;
}

.devices-content {
    padding-left: 16px;
    padding-right: 16px;
}

.devices-content p, h3 {
    margin-bottom: 8px;
}

.bgConsumption {
    background-color: #e6e8e7;
    padding: 24px 16px;
    border-radius: 8px;
    margin-top: 24px;
}

.chart-time{
    display: flex;
}

.chart {
    max-width: 900px;
}

.chart-device {
    width: 600px;
    height: 300px;
    margin-top: 30px;
    margin-left: 30px;
}